footer{
    margin: 2rem 1rem;
    padding:1rem;
    border-top:  2px solid var(--color-borde-h2);

    nav a{
        text-decoration: underline;
        color: var(--color-texto-1);
        border-right: 1px solid var(--color-texto-2);
        padding-right: 2vh;
        margin-right: 2vh;
        font-size: 12px;
        font-family: arial;
        white-space: nowrap;
        
        &:last-of-type{
            border-right: none;
        }

        &:focus {
            color: var(--color-focus); 
            transition: background-color 0.3s ease, color 0.3s ease; 
            font-weight: bold;
            padding: 0.3rem;
            border: 3px solid var(--color-focus) ;

          }
    }


}

@media (min-width: 769px) and (max-width: 1024px) {
   footer{
    display: flex;
    flex-direction: column;
   }
}
