#formulario h2 {
    color: var(--color-titulo);
    padding: 1vh 0;
    margin: 2vh 0;
    font-size: 19px;
    border-bottom: 2px solid var(--color-borde-h2);
}

#formulario p {
    color: var(--color-texto-1);
}

#formulario input,
#formulario button {
    margin: 1vh 0;
}

.social img {
    margin: 0 2vh;
}

@media (min-width: 1025px) {}
@media (min-width: 769px) and (max-width: 1024px){
    #formulario img {
        margin: 0 1vh;
    }   
}