@font-face {
  font-family: 'century-ghotic';
  src: url('../Century-Gothic/1105886371.ttf') format(truetype);
}

@font-face {
  font-family: 'menu';
  src: url('../icomoon/fonts/icomoon.ttf') format(truetype);
}

.icon-menu {
  font-family: 'menu';
}

.icon-contrast {
  font-family: 'menu';
}